/* ==========================================================================
   First Tech - Challenger 
   ========================================================================== */
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'interstateregular';
  src: url("fonts/interstate-regular-webfont.eot");
  src: url("fonts/interstate-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/interstate-regular-webfont.woff") format("woff"), url("fonts/interstate-regular-webfont.ttf") format("truetype"), url("fonts/interstate-regular-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../sass/partials/_library.scss */
.interstate-regular {
  font-family: 'interstateregular';
}

@font-face {
  font-family: 'interstatebold';
  src: url("fonts/interstate-bold-webfont.eot");
  src: url("fonts/interstate-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/interstate-bold-webfont.woff") format("woff"), url("fonts/interstate-bold-webfont.ttf") format("truetype"), url("fonts/interstate-bold-webfont.svg#interstatebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../sass/partials/_library.scss */
.interstate-bold {
  font-family: 'interstatebold';
}

@font-face {
  font-family: 'interstatelight';
  src: url("fonts/interstate-light-webfont.eot");
  src: url("fonts/interstate-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/interstate-light-webfont.woff") format("woff"), url("fonts/interstate-light-webfont.ttf") format("truetype"), url("fonts/interstate-light-webfont.svg#interstatebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, ../sass/partials/_library.scss */
.interstate-bold {
  font-family: 'interstatelight';
}

@font-face {
  font-family: 'interstate-extralight';
  src: url("fonts/interstate-extralight.eot");
  src: url("fonts/interstate-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/interstate-extralight.woff") format("woff"), url("fonts/interstate-extralight.ttf") format("truetype"), url("fonts/interstate-extralight.svg#interstatebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../sass/partials/_library.scss */
.interstate-bold {
  font-family: 'interstate-extralight';
}

/* line 18, ../sass/partials/_library.scss */
.clear {
  display: block;
  clear: both;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 33, ../sass/partials/_library.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 38, ../sass/partials/_library.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 46, ../sass/partials/_library.scss */
.cf {
  *zoom: 1;
}

/* line 21, ../sass/base.scss */
html,
button,
input,
select,
textarea {
  color: #333333;
}

/* line 25, ../sass/base.scss */
body {
  font-family: "interstateregular";
  font-size: 1em;
  line-height: 1.4;
}

/* line 31, ../sass/base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 36, ../sass/base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 41, ../sass/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 50, ../sass/base.scss */
img {
  vertical-align: middle;
}

/* line 54, ../sass/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 60, ../sass/base.scss */
textarea {
  resize: vertical;
}

/* line 65, ../sass/base.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* ===================
    Header
   =================== */
/* line 74, ../sass/base.scss */
.header-container {
  width: 100%;
  background: #fff;
  min-height: 85px;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}
/* line 82, ../sass/base.scss */
.header-container a#logo {
  display: block;
  width: 158px;
  height: 48px;
  text-indent: -10000px;
  font-size: 0;
  background: transparent url("../img/logo.png") no-repeat;
  float: left;
  margin: 20px 0 0 0;
}
/* line 88, ../sass/base.scss */
.header-container .search {
  display: block;
  width: 204px;
  height: 35px;
  text-indent: -10000px;
  font-size: 0;
  background: transparent url("../img/search.png") no-repeat;
  float: right;
  margin: 41px 5px 0 0;
}
/* line 93, ../sass/base.scss */
.header-container .login {
  display: block;
  width: 126px;
  height: 35px;
  text-indent: -10000px;
  font-size: 0;
  background: transparent url("../img/btn_login.png") no-repeat;
  float: right;
  margin-top: 41px;
}
/* line 98, ../sass/base.scss */
.header-container nav {
  float: right;
  margin: 50px 16px 0 0;
}
/* line 102, ../sass/base.scss */
.header-container nav ul {
  margin: 0;
  padding: 0;
}
/* line 106, ../sass/base.scss */
.header-container nav ul li {
  display: inline-block;
  margin-left: 26px;
}
/* line 110, ../sass/base.scss */
.header-container nav ul li:first-child {
  margin: 0;
}
/* line 114, ../sass/base.scss */
.header-container nav ul li a {
  font-family: 'interstatelight';
  color: #0896d4;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  /* line 127, ../sass/base.scss */
  .header-container nav {
    clear: both;
    float: none;
    margin: 0;
    padding: 20px 0;
  }
  /* line 133, ../sass/base.scss */
  .header-container nav ul {
    text-align: left;
  }
  /* line 136, ../sass/base.scss */
  .header-container nav ul li {
    display: inline-block;
    padding: 0 8px 0 0;
    margin: 0;
  }
  /* line 145, ../sass/base.scss */
  .header-container .search {
    float: left;
    margin-top: 20px;
  }
  /* line 149, ../sass/base.scss */
  .header-container .login {
    float: left;
    margin: 20px 5px 0 0;
    clear: both;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  /* line 159, ../sass/base.scss */
  .header-container .search {
    float: left;
    margin-top: 20px;
  }
  /* line 163, ../sass/base.scss */
  .header-container .login {
    float: left;
    clear: both;
    margin: 20px 5px 0 0;
  }
  /* line 169, ../sass/base.scss */
  .header-container nav {
    clear: both;
    float: left;
    margin: 20px 0;
  }
  /* line 175, ../sass/base.scss */
  .header-container nav ul li:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 640px) and (max-width: 950px) {
  /* line 183, ../sass/base.scss */
  .header-container nav {
    float: right;
    clear: both;
    margin: 20px 0 20px 0;
  }
  /* line 189, ../sass/base.scss */
  .header-container .search, .header-container .login {
    margin-top: 30px;
  }
}

/* ===================
    Feature Grid
   =================== */
/* line 200, ../sass/base.scss */
.secondary-container {
  background: #f6f6f6 url("../img/footer_bg.png") no-repeat center center;
  -webkit-box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.25);
}
/* line 204, ../sass/base.scss */
.secondary-container .feature-grid {
  padding: 20px 0 40px 0;
}

/* line 210, ../sass/base.scss */
.feature-grid {
  width: 100%;
  padding: 10px 0 10px 0;
  position: relative;
  height: auto;
}
/* line 216, ../sass/base.scss */
.feature-grid .grid-item {
  float: left;
  width: 33%;
  margin-right: .5%;
  margin-bottom: .5%;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  height: auto;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out, z-index 1s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out, z-index 1s ease-in-out;
  -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out, z-index 1s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out, z-index 1s ease-in-out;
}
@media screen and (max-width: 480px) {
  /* line 216, ../sass/base.scss */
  .feature-grid .grid-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 216, ../sass/base.scss */
  .feature-grid .grid-item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  /* line 237, ../sass/base.scss */
  .feature-grid .grid-item:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 242, ../sass/base.scss */
  .feature-grid .grid-item:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 769px) {
  /* line 249, ../sass/base.scss */
  .feature-grid .grid-item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  /* line 254, ../sass/base.scss */
  .feature-grid .grid-item:nth-child(n+3), .feature-grid .grid-item:nth-child(n+4) {
    margin-bottom: 0;
  }
  /* line 258, ../sass/base.scss */
  .feature-grid .grid-item:nth-child(4n) {
    clear: both;
  }
}
/* line 271, ../sass/base.scss */
.feature-grid .grid-item img {
  width: 100%;
  height: auto;
  margin: 0;
}
/* line 280, ../sass/base.scss */
.feature-grid .grid-item.feature-promo {
  position: relative;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
/* line 286, ../sass/base.scss */
.feature-grid .grid-item.feature-promo img {
  max-width: 100%;
  height: auto;
}
/* line 292, ../sass/base.scss */
.feature-grid .grid-item.sub-promo {
  position: relative;
  background: #fff;
  min-height: 254px;
}
/* line 297, ../sass/base.scss */
.feature-grid .grid-item.sub-promo .content {
  padding: 0;
}
/* line 300, ../sass/base.scss */
.feature-grid .grid-item.sub-promo .content img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===================
    Overlay 
   =================== */
/* line 313, ../sass/base.scss */
.main-container {
  position: relative;
}

/* line 317, ../sass/base.scss */
.overlay {
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

/* line 329, ../sass/base.scss */
.full-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

/* line 339, ../sass/base.scss */
#slide-products {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  background-image: url("../img/slide_products_bg.jpg");
  background-size: cover;
}
/* line 349, ../sass/base.scss */
#slide-products .side-content {
  float: left;
  margin: 1% 0 0 2%;
  width: 32%;
}
/* line 354, ../sass/base.scss */
#slide-products .side-content img {
  max-width: 100%;
  height: auto;
}
/* line 361, ../sass/base.scss */
#slide-products .content {
  width: 90%;
  float: left;
  margin: 15% 5% 0 5%;
}
/* line 366, ../sass/base.scss */
#slide-products .content h1 {
  font-size: 54px;
  line-height: 62px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'interstatebold';
  text-align: center;
  margin-bottom: 8%;
}
/* line 376, ../sass/base.scss */
#slide-products .content a img {
  width: 100%;
  height: auto;
}
/* line 381, ../sass/base.scss */
#slide-products .content span.quick-links {
  position: absolute;
  right: 8%;
  top: 29%;
}

/* line 390, ../sass/base.scss */
#slide-loans {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  left: 0;
  top: 0;
  background-position: left top;
  background-image: url("../img/slide_loan_bg.jpg");
  background-color: #33772a;
  background-repeat: no-repeat;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

/* line 404, ../sass/base.scss */
span.full-view-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  background: url("../img/btn_close.png") no-repeat left top;
  width: 43px;
  height: 26px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: 1001;
  cursor: pointer;
}

/* line 417, ../sass/base.scss */
.in .full-view-exit {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* ===================
    Slider
   =================== */
/* line 426, ../sass/base.scss */
.fluidHeight {
  position: absolute;
  width: 100%;
  height: 500px;
}

/* 
 * below 900px, switch to percentage based responsive height.
 * padding of 33.333% is calculated by using the 
 * image ratio 300px/900px = .333 * 100% = 33.333% 
 */
@media screen and (max-width: 900px) {
  /* line 439, ../sass/base.scss */
  .fluidHeight {
    height: 0;
    padding: 0 0 33.333% 0;
  }
}
/* line 446, ../sass/base.scss */
.sliderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 452, ../sass/base.scss */
.iosSlider {
  width: 100%;
  height: 100%;
  background: #aaa;
}

/* line 458, ../sass/base.scss */
.iosSlider .slider {
  width: 100%;
  height: 100%;
}

/* line 463, ../sass/base.scss */
.iosSlider .slider .item {
  position: relative;
  top: 0;
  left: 0;
  max-width: 900px;
  width: auto;
  height: auto;
}

/* line 475, ../sass/base.scss */
.iosSlider .slider .item img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

/* ===================
    Touch Scroll
   =================== */
/* line 487, ../sass/base.scss */
#TouchScroller {
  width: 100%;
  height: auto;
}

/* line 492, ../sass/base.scss */
.nav-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}
/* line 498, ../sass/base.scss */
.nav-fixed img {
  width: 90%;
}

/* line 505, ../sass/base.scss */
#TouchScroller div.scrollableArea .item {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
  margin: 10px 0 50px 0;
}
/* line 512, ../sass/base.scss */
#TouchScroller div.scrollableArea .item .hide {
  display: none;
}
/* line 516, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing {
  width: 920px;
  padding: 0 0 0 30px;
}
/* line 520, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing p {
  font-size: 13px;
  line-height: 23px;
  color: #fff;
  font-family: 'interstatelight';
  width: 240px;
  margin-top: 40px;
}
/* line 529, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing h2 {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'interstatelight';
  text-align: center;
  margin: 30px 0 15px 0;
}
/* line 539, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing h1 {
  font-size: 54px;
  line-height: 62px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'interstatebold';
  text-align: center;
  position: absolute;
  top: 240px;
  left: 215px;
}
/* line 551, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing .nav {
  margin-top: 166px;
}
/* line 554, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-landing .nav img {
  max-width: 100%;
}
/* line 561, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.quick-links {
  clear: both;
  padding: 0;
  margin: 0 20px 0 0;
  display: none;
}
/* line 567, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.quick-links img {
  float: left;
  clear: both;
}
/* line 575, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-center {
  padding: 0;
  width: 536px;
  padding-right: 0;
  margin: 0 0 0 20px;
  display: none;
}
/* line 583, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-center .loan-options {
  display: block;
  position: relative;
}
/* line 587, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-center .loan-options img {
  display: block;
}
/* line 591, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-center .loan-options div {
  display: block;
  float: left;
  clear: both;
}
/* line 597, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.loan-center .loan-options .expanded {
  display: block;
}
/* line 603, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.first-home {
  margin-top: 130px;
  padding: 0 0 20px 0;
  margin-bottom: 0;
  width: 475px;
}
/* line 610, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.first-home .loan-rates {
  background: #fff;
  display: none;
  float: left;
}
/* line 617, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.fixed-rate {
  margin-top: 130px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  width: 542px;
  margin-right: 20px;
}
/* line 626, ../sass/base.scss */
#TouchScroller div.scrollableArea .item.fixed-rate img {
  padding-left: 20px;
  padding-right: 10px;
  display: none;
  background: #fff;
  float: left;
}

/* line 637, ../sass/base.scss */
div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

/* line 645, ../sass/base.scss */
div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}

/* ===================
    Footer Container
   =================== */
/* line 657, ../sass/base.scss */
.footer-container .footer-inner {
  padding: 0 50px;
}
/* line 663, ../sass/base.scss */
.footer-container footer .footer-main {
  width: 100%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  background: #f6f6f6 url("../img/footer_bg.png") no-repeat center center;
  margin: 0 0 100px 0;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  /* line 672, ../sass/base.scss */
  .footer-container footer .footer-main .footer-inner {
    padding: 0 20px;
  }
}
/* line 678, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-nav {
  border-bottom: 1px solid #fff;
  padding-bottom: 38px;
}
/* line 682, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-nav nav {
  padding: 50px 50px 0 50px;
  font-family: 'interstate-extralight';
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  /* line 682, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav {
    padding: 50px 20px 0 20px;
  }
}
/* line 692, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-nav nav ul {
  float: left;
  width: 16.66%;
}
@media screen and (min-width: 640px) and (max-width: 799px) {
  /* line 692, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul {
    width: 33.33%;
    margin-bottom: 40px;
  }
  /* line 700, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul:nth-child(4n) {
    clear: both;
  }
  /* line 704, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  /* line 692, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul {
    width: 50%;
    margin-bottom: 40px;
  }
  /* line 713, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul:nth-child(2n+1) {
    clear: both;
  }
  /* line 717, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul:nth-child(n+3) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  /* line 692, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul {
    width: 100%;
    margin-bottom: 40px;
    clear: both;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  /* line 730, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul li {
    text-align: center;
  }
}
/* line 736, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-nav nav ul li.title {
  font-family: 'interstatelight';
  color: #4d4d4d;
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 10px;
  font-size: 16px;
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  /* line 736, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul li.title {
    font-size: 14px;
    line-height: 24px;
  }
}
/* line 749, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-nav nav ul li a {
  font-size: 16px;
  line-height: 29px;
  color: #4d4d4d;
  text-decoration: none;
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  /* line 749, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-nav nav ul li a {
    font-size: 14px;
    line-height: 24px;
  }
}
/* line 767, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-sub {
  padding-bottom: 40px;
}
/* line 770, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-sub #footer-logo {
  margin: 35px 0 0 0;
  display: block;
  float: left;
}
/* line 775, ../sass/base.scss */
.footer-container footer .footer-main .footer-main-sub .social {
  float: right;
  margin: 45px 0 0 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 781, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-sub #footer-logo {
    display: block;
    float: none;
    text-align: center;
    margin: 40px 0;
  }
  /* line 788, ../sass/base.scss */
  .footer-container footer .footer-main .footer-main-sub .social {
    display: block;
    float: none;
    text-align: center;
    margin: 0;
  }
}
/* line 798, ../sass/base.scss */
.footer-container footer .footer-copyright {
  padding: 40px 0 60px 0;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  /* line 803, ../sass/base.scss */
  .footer-container footer .footer-copyright .footer-container {
    padding: 0;
  }
}
/* line 810, ../sass/base.scss */
.footer-container footer .footer-copyright img {
  max-width: 100%;
  height: auto;
}
/* line 814, ../sass/base.scss */
.footer-container footer .footer-copyright .copy-left {
  float: left;
  margin: 0;
  max-width: 65%;
}
/* line 819, ../sass/base.scss */
.footer-container footer .footer-copyright .copy-left p {
  font-family: 'interstate-extralight';
  font-size: 16px;
  line-height: 31px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  /* line 819, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-left p {
    font-size: 12px;
    line-height: 24px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1100px) {
  /* line 819, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-left p {
    font-size: 14px;
    line-height: 28px;
  }
}
/* line 835, ../sass/base.scss */
.footer-container footer .footer-copyright .copy-right {
  float: right;
  margin: 0;
  max-width: 40%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 842, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-left {
    max-width: 65%;
  }
  /* line 845, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-right {
    max-width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* line 851, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-left {
    float: none;
    display: block;
    text-align: center;
    max-width: 100%;
    margin-bottom: 40px;
  }
  /* line 858, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-right {
    float: none;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 864, ../sass/base.scss */
  .footer-container footer .footer-copyright .copy-right img {
    display: inline-block;
  }
}

/* line 874, ../sass/base.scss */
.full-view {
  perspective: 1000;
  -webkit-perspective: 1000;
}

/* line 878, ../sass/base.scss */
.card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -moz-transform 1s;
  -o-transition: -moz-transform 1s;
  transition: -moz-transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 895, ../sass/base.scss */
.full-view .card.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* line 902, ../sass/base.scss */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 917, ../sass/base.scss */
.face.back {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 9;
}
