
/* ==========================================================================
   First Tech - Challenger 
   ========================================================================== */

@import "compass/reset";
@import "compass/css3";
@import "partials/settings";
@import "partials/library";
@import "susy";

$break-small: 480px;
$break-medium: 768px;
$break-large: 1000px;


html,
button,
input,
select,
textarea {
    color: $primary-color;
}

body {
	font-family:$font-stack;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width:1200px;
}

/* ===================
    Header
   =================== */
.header-container{
	width:100%;
	background:#fff;
	min-height:85px;
	@include box-shadow(0 1px 7px rgba(0,0,0,.25));



	a#logo{
		@include img(158px,48px,'../img/logo.png');
		float:left;
		margin:20px 0 0 0;
	}

	.search{
		@include img(204px,35px,'../img/search.png');
		float:right;	
		margin:41px 5px 0 0;
	}	
	.login{
		@include img(126px,35px,'../img/btn_login.png');
		float:right;	
		margin-top:41px;
	}
	nav{
		float:right;
		margin:50px 16px 0 0;

		ul{
			margin:0;
			padding:0;

			li{
				display:inline-block;
				margin-left:26px;

				&:first-child{
					margin:0;
				}

				a{
					font-family: 'interstatelight';
					color:#0896d4;
					font-size:12px;
					line-height: 14px;
					text-decoration: none;
				}	
			}
		}
	}

	@media screen and (max-width: 479px) {

		nav{
			clear:both;
			float:none;
			margin:0;
			padding:20px 0;

			ul{
				text-align:left;

				li{
					display: inline-block;
					padding:0 8px 0 0;
					margin:0;

				}
			}
		}

		.search{
			float:left;
			margin-top:20px;
		}
		.login{
			float:left;
			margin:20px 5px 0 0;
			clear:both;
		}


	}

	@media screen and (min-width:480px) and (max-width: 639px) {
		.search{
			float:left;
			margin-top:20px;
		}
		.login{
			float:left;
			clear:both;
			margin:20px 5px 0 0;
		}

		nav{
			clear:both;
			float:left;
			margin:20px 0;

			ul{
				li:first-child{
					margin-left:0;
				}
			}
		}
	}

	@media screen and (min-width:640px) and (max-width:950px){
		nav{
			float:right;
			clear:both;
			margin:20px 0 20px 0;
		}

		.search,.login{
			margin-top:30px;
		}
	}

}

/* ===================
    Feature Grid
   =================== */

.secondary-container{
	background: #f6f6f6 url('../img/footer_bg.png') no-repeat center center;
	@include box-shadow(0 -6px 6px -6px rgba(0,0,0,.25));
	
	.feature-grid{
		padding:20px 0 40px 0;
	}

}

.feature-grid{
	width:100%;
	padding:10px 0 10px 0;
	position:relative;
	height:auto;

	.grid-item{

		float:left;
		width:33%;
		margin-right:.5%;
		margin-bottom:.5%;



		@media screen and (max-width: $break-small) {
			width:100%;
			margin-bottom:20px;

		}


		@media screen and (min-width: 481px) and (max-width: $break-medium) {
			width:49%;
			margin-right:2%;
			margin-bottom:2%;

			&:nth-child(2n){
				margin-right:0;
				margin-bottom:0;
			}	

			&:nth-child(2n+1){
				clear:both;
			}	

		}

		@media screen and (min-width: 769px)  {
			&:nth-child(3n){
				margin-right:0;
				margin-bottom:0;
			}

			&:nth-child(n+3), &:nth-child(n+4){
				margin-bottom: 0;
			}

			&:nth-child(4n){
				clear:both;
			}

		}


		

		@include box-shadow(0 1px 7px rgba(0,0,0,.25));
		height:auto;
		overflow:hidden;

		img{
			width:100%;
			height:auto;
			margin:0;
		}

		@include transition(width .5s ease-in-out, height .5s ease-in-out, left .5s ease-in-out, z-index 1s ease-in-out);


		&.feature-promo{
			position:relative;
			background-size: cover;
			background-position:center center;
			cursor:pointer;

			img{
				max-width:100%;
				height:auto;
			}
		}

		&.sub-promo{
			position:relative;
			background:#fff;
			min-height: 254px;

			.content{
				padding:0;

				img{
					display:block;
					max-width:100%;
					height:auto;
				}
			}
		}
	}
}

/* ===================
    Overlay 
   =================== */
.main-container{
	position:relative;
}

.overlay{
	background:#000;
	@include opacity(.2);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	display:none;
}

.full-view{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	display:none;
}

#slide-products{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-position: center center;
	background-image: url('../img/slide_products_bg.jpg');
	background-size:cover;

	.side-content{
		float:left;
		margin:1% 0 0 2%;
		width:32%;

		img{
			max-width:100%;
			height:auto;
		}

	}

	.content{
		width:90%;
		float:left;
		margin:15% 5% 0 5%;

		h1{
			font-size:54px;
			line-height: 62px;
			color:#fff;
			text-transform:uppercase;
			font-family: 'interstatebold';
			text-align:center;
			margin-bottom:8%;
		}

		a img{
			width:100%;
			height:auto;
		}

		span.quick-links{
			position:absolute;
			right:8%;
			top:29%;
		}

	}
}

#slide-loans{
	position:absolute;
	width:100%;
	height:auto;
	min-height:100%;
	left:0;
	top:0;
	background-position: left top;
	background-image: url('../img/slide_loan_bg.jpg');
	background-color:#33772a;
	background-repeat: no-repeat;
	@include transition(height .5s ease-in-out);
}

span.full-view-exit{
	position:absolute;
	right:20px;
	top:20px;
	background: url('../img/btn_close.png') no-repeat left top;
	width:43px;
	height:26px;
	@include opacity(0);
	@include transition(opacity .5s ease-in-out);
	z-index:1001;
	cursor:pointer;
}

.in .full-view-exit{
	@include opacity(1);
}


/* ===================
    Slider
   =================== */

.fluidHeight {
	position: absolute;
	width: 100%;
	height: 500px;
}

/* 
 * below 900px, switch to percentage based responsive height.
 * padding of 33.333% is calculated by using the 
 * image ratio 300px/900px = .333 * 100% = 33.333% 
 */
@media screen and (max-width: 900px) {
	
	.fluidHeight {
		height: 0;
		padding: 0 0 33.333% 0;
	}
	
}

.sliderContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.iosSlider {
	width: 100%;
	height: 100%;
	background: #aaa;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	
	max-width: 900px;
	width: auto;
	height: auto;


}

.iosSlider .slider .item img {
	position: relative;
	top: 0;
	left: 0;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

/* ===================
    Touch Scroll
   =================== */
#TouchScroller{
	width:100%;
	height:auto;
}

#TouchScroller div.scrollableArea .item
{
	position: relative;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 10px 0 50px 0;

	.hide{
		display:none;
	}

	&.loan-landing{
		width:920px;
		padding:0 0 0 30px;

		p{
			font-size:13px;
			line-height: 23px;
			color:#fff;
			font-family: 'interstatelight';
			width:240px;
			margin-top:40px;
		}

		h2{
			font-size:16px;
			line-height: 24px;
			color:#fff;
			text-transform:uppercase;
			font-family: 'interstatelight';
			text-align:center;
			margin:15px 0;
		}

		h1{
			font-size:54px;
			line-height: 62px;
			color:#fff;
			text-transform:uppercase;
			font-family: 'interstatebold';
			text-align:center;
			margin-bottom:50px;
		}

		.nav-fixed{
			position:fixed;
			top:20px;
			left:20px;
			display:none;
		}

	}

	&.quick-links {
		clear:both;
		padding:0;
		margin:0 20px 0 0;
		display:none;

		img{
			float:left;
			clear:both;


		}
	}

	&.loan-center{
		padding:0;
		width:536px;
		padding-right:0;
		margin:0 0 0 20px;
		display:none;


		.loan-options{
			display:block;
			position:relative;

			img{
				display:block;
			}

			a{
				display:block;
				float:left;
				clear:both;
			}

			a.expanded{
				display:block;
			}
		}
	}

	&.first-home{
		margin-top:150px;
		padding-bottom:20px;
		margin-bottom:0;
		width:455px;


		a{
			background:#fff;
			display:none;
			float:left;
		}
	}

	&.fixed-rate{
		margin-top:150px;
		padding-left:0;
		padding-right:0;
		padding-bottom:20px;
		margin-bottom:0;
		width:542px;
		margin-right:20px;

		img{
			padding-left:20px;
			padding-right:10px;
			display:none;
			background:#fff;
			float:left;
		}
	}
}

div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}


/* ===================
    Footer Container
   =================== */
.footer-container{

	.footer-inner{
		padding:0 50px;
	}

	footer{

		.footer-main{
			width:100%;
			@include box-shadow(0 0 6px rgba(0,0,0,.25));
			background: #f6f6f6 url('../img/footer_bg.png') no-repeat center center;
			margin:0 0 100px 0;


			@media screen and (min-width:320px) and (max-width: 640px) {

				.footer-inner{
					padding:0 20px;
				}
			}


			.footer-main-nav{
				border-bottom:1px solid #fff;
				padding-bottom:38px;

				nav{
					padding:50px 50px 0 50px;
					font-family:'interstate-extralight';

					@media screen and (min-width:320px) and (max-width: 640px) {

						padding:50px 20px 0 20px;
					}


					ul{
						float:left;
						width:16.66%;

						@media screen and (min-width:640px) and (max-width: 799px) {
							width:33.33%;
							margin-bottom:40px;

							&:nth-child(4n){
								clear:both;
							}

							&:nth-child(n+4){			
								margin-bottom:0;
							}
						}

						@media screen and (min-width:480px) and (max-width: 639px) {
							width:50%;
							margin-bottom:40px;

							&:nth-child(2n+1){
								clear:both;
							}

							&:nth-child(n+3){			
								margin-bottom:40px;
							}
						}

						@media screen and (min-width:320px) and (max-width: 479px) {
							width:100%;
							margin-bottom:40px;

								clear:both;

						}

						li{

							@media screen and (min-width:320px) and (max-width: 479px) {
								text-align: center;
							}

							&.title{
								font-family: 'interstatelight';
								color:$secondary-color;
								text-transform:uppercase;
								line-height: 26px;
								margin-bottom:10px;
								font-size:16px;
								@media screen and (min-width:800px) and (max-width: 1024px) {
									font-size:14px;
									line-height:24px;
								}
							}

							a{
								font-size:16px;
								line-height: 29px;
								color:$secondary-color;
								text-decoration: none;

								@media screen and (min-width:800px) and (max-width: 1024px) {
									font-size:14px;
									line-height: 24px;
								}
							}
						}
					}
				}	
		
			}
	

			.footer-main-sub{
				padding-bottom:40px;

				#footer-logo{
					margin:35px 0 0 0;
					display:block;
					float:left;
				}
				.social{
					float:right;
					margin:45px 0 0 0;
				}

				@media screen and (min-width:320px) and (max-width: 480px) {
					#footer-logo{
						display:block;
						float:none;
						text-align:center;
						margin:40px 0;
					}

					.social{
						display:block;
						float:none;
						text-align:center;
						margin:0;
					}
				}
			}
		}	

		.footer-copyright{
			padding:40px 0 60px 0;

			@media screen and (min-width:320px) and (max-width: 640px) {

				.footer-container{
					padding:0;
				}
			}

			

			img{
				max-width:100%;
				height:auto;
			}
			.copy-left{
				float:left;
				margin:0;
				max-width:65%;

				p{
					font-family:'interstate-extralight';
					font-size: 16px;
					line-height: 31px;

					@media screen and (min-width:320px) and (max-width: 640px) {
						font-size:12px;
						line-height: 24px;
					}

					@media screen and (min-width:641px) and (max-width: 1100px) {
						font-size:14px;
						line-height: 28px;
					}
				}
			}
			.copy-right{
				float:right;
				margin:0;
				max-width:40%;
			}

			@media screen and (min-width:768px) and (max-width: 1024px) {
				.copy-left{
					max-width:65%;
				}
				.copy-right{
					max-width:30%;
				}
			}

			@media screen and (min-width:320px) and (max-width: 767px) {
				.copy-left{
					float:none;
					display:block;
					text-align:center;
					max-width:100%;
					margin-bottom: 40px;
				}
				.copy-right{
					float:none;
					max-width:100%;
					margin:0 auto;
					text-align:center;

					img{
						display:inline-block;

					}
				}
			}
		}
	}
}

.full-view {
  perspective: 1000;
  -webkit-perspective: 1000;
}
.card {
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
-webkit-transition: -webkit-transform 1s;
   -moz-transition: -moz-transform 1s;
    -ms-transition: -moz-transform 1s;
     -o-transition: -moz-transform 1s;
        transition: -moz-transform 1s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
		transform-style: preserve-3d;
}
.full-view .card.flipped {
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	    -ms-transform: rotateY(-180deg);
	     -o-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index:9;
}

